.showProducts {
    text-align: center; /* يضمن عرض العنوان في المنتصف */
  }
  
  .productList {
    list-style: none;
    padding: 0;
  }
  
  .productList li {
    margin-bottom: 10px;
  }
  .buttonWithMargin {
    margin:0px 10px 10px 0px;
  }