/* ملف ShowUsers.css */

/* تحديد خصائص الأمان للعناصر الأساسية */
.main-table-container {
    margin: 20px auto;
    width: 100%; /* جعل العرض كامل الشاشة */
    overflow-x: auto; /* السماح بالتمرير الأفقي عند الحاجة */
  }
  
  /* تنسيق عنوان الجدول */
  .title-table-container {
    background-color: #4CAF50; /* تغيير لون الخلفية */
    color: white; /* تغيير لون النص */
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  /* تنسيق العنوان الفرعي */
  .subtitle {
    font-size: 20px;
    font-weight: bold;
  }
  
  /* تنسيق الجدول والخلايا */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* تنسيق عناصر العنوان */
  table th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
  }
  
  /* تنسيق خلايا البيانات */
  table td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  /* تنسيق العناصر عندما تكون قيد التحميل أو تظهر خطأ */
  .loading,
  .error {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* تنسيق عناصر الخطأ */
  .error {
    background-color: #ffcccc;
  }
  span{
    font-size: 20px;
  }