/* layout.css */
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: #f8f9fa;
    padding: 10px 0;
}
